p {
    width: 40%;
}

.name {
    overflow: hidden;
    white-space: nowrap;
    color: #000000;
    width: 0;
    border-right: 3px solid white;
    animation: typing 2s steps(30, end) forwards, blink 0.75s step-end infinite;
}


@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }

    100% {
        border-color: white;
    }
}

.infoStudy {
    color: #FFFFFF;
}

.age {
    color: #FFFFFF;
}

.buttomProyects {
    padding: 0.75em;
    background-color: #2E2EFE;
    border-radius: 1em;
    margin: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    user-select: none;
}

.buttomProyects:hover {
    background-color: #A9BCF5;
}

.linkButtom {
    text-decoration: none;
    color: #ffffff;
}

@media (max-width: 645px) {
    .name {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-right: none;
    }

    .firstName {
        margin: 0;
        padding: 0;
        border-right: 3px solid white;
        animation: 2s steps(11, end) forwards, blink 0.75s step-end infinite, hideBorder 2s 2s forwards;
    }

    .lastName {
        opacity: 0;
        border-right: 3px solid white;
        width: 0;
        padding-left: 5px;
        animation: typing 2s steps(11, end) forwards, blink 0.75s step-end infinite;
        animation-delay: 2.2s;
        overflow: hidden;
        white-space: nowrap;
    }

    @keyframes typing {
        from {
            width: 0;
            opacity: 0;
        }

        to {
            opacity: 1;
            width: 100%;
        }
    }

    @keyframes blink {
        50% {
            border-color: transparent;
        }

        100% {
            border-color: white;
        }
    }

    @keyframes hideBorder {
        0% {
            border-right: 3px solid white;
        }

        100% {
            border-right: none;
        }
    }
}