h1 {
    font-size: 3em;
}

.footerBar {
    width: 30%;
    height: 4%;
    background-color: rgb(255, 255, 255);
    border-radius: 1em 1em 0 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.footerBarLinksIcon {
    margin: .2em 0 .2em .2em;
    transition: transform 0.3s ease-in-out;
}

.footerBarLinksIcon:hover {
    transform: translateY(-5px);
}